@{
    Layout="Shared/_Layout.cshtml";
}
@* <h1>@cuisine.GetName()</h1> *@
<h2>Here are all the restaurants in this cuisine:</h2>

@if (@Model["restaurants"].Count == 0)
{
  <p>No restaurants have been added yet!</p>
}
else
{
  <ol>
    @foreach (var restaurant in @Model["restaurants"])
    {
      <a href="/restaurant/@restaurant.GetId()"><li>@restaurant.GetName()</li></a>
    }
  </ol>
}
<p><a href="/cuisines/new">Add a new cuisine</a></p>
<p><a href="/">Return to Main Page</a></p>
