@{
    Layout="Shared/_Layout.cshtml";
}


<h4><a href="/cuisines">View Cuisines</a></h4>
<h4><a href="/restaurants">View All Restaurants</a></h4>

<form action="/restaurant/search/results" method="post">
  <label for="restaurant-search">Search for a restaurant:</label>
  <input id="restaurant-search" name="restaurant-search" type="text">
  <button type="submit">Search for restaurant</button>
</form>

<form action="/cuisine/search/results" method="post">
  <label for="cuisine-search">Search for a cuisine:</label>
  <input id="cuisine-search" name="cuisine-search" type="text">
  <button type="submit">Search for cuisine</button>
</form>
