@{
    Layout="Shared/_Layout.cshtml";
}
<h1 class="restaurant-name">Update information for @Model.GetName()</h1>
<form action="/restaurant/edit/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="PATCH">
    <p>The old name for this restaurant was: @Model.GetName()</p>
    <label for="restaurant-name">If you'd like to change the name, enter the new name here:</label>
    <input id="restaurant-name" name="restaurant-name" type="text">
    <p>The old price for this restaurant was: @Model.GetPrice()</p>
    <label for="restaurant-price">If you'd like to change the price, enter the new price here:</label>
    <input id="restaurant-price" name="restaurant-price" type="text">
    <p>The old vibe for this restaurant was: @Model.GetVibe()</p>
    <label for="restaurant-vibe">If you'd like to change the vibe, enter the new vibe here:</label>
    <input id="restaurant-vibe" name="restaurant-vibe" type="text">

    <button type="submit">Update this restaurant</button>
</form>





<p><a href="/" class="links">Go back home</a></p>
